
.header{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-family: 'DM Serif Display', serif;
    font-size: 70px;
}
.firstRow{
    background-color:#BFC9CA;
    padding: 5%;
    border-radius: 10px;
    font-family: 'Mukta Vaani', sans-serif;
}
.list{
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 22px;
}
.box{
    border-radius: 5px;
}
.firstBut{
    margin-top: 15px;
    margin-left: 40%;
    font-family: 'Mukta Vaani', sans-serif;
    border-radius: 5px;

}
.allBut{
    border-radius: 5px;
    font-family: 'Mukta Vaani', sans-serif;
}
.delBut{
    border-radius: 5px;
    margin-left: 500px;
    font-family: 'Mukta Vaani', sans-serif;
}

