<h1 class="header">My Quotes</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-4">
<label>Quote:</label><br>
    <textarea type="text" placeholder="Add a quote" class="box" #addQuote></textarea>
</div>
    <div class="col-4">
    <label>Author:</label><br>
    <input type="text" placeholder="Add Author" class="box" #addAuthor>
</div>
    <div class="col-4">
    <label>Submitter:</label><br>
    <input type="text" placeholder="Add submitter" class="box" #addSubmitter>
</div>
    <button class="btn-success" (click) = addComponent(addQuote.value,addAuthor.value,addSubmitter.value)>ADD</button>
    <br><br>
</div>
<ul *ngFor='let quote of quotes'>
    <li>
            "{{ quote.say }}"
    </li>
    <button class="btn-info" (click)='toggleDetails(i)'>Toggle Details</button>
    <app-add-quote *ngIf='quote.showDescription' [quote]='quote'></app-add-quote>
    <app-like></app-like>

    <button class="btn-danger" (click) = "deleteQuote(quote)">DELETE QUOTE</button>
</ul>
</div>

