<h1 class="header">My Quotes</h1>
<hr>
<div class="container">
    <div class="row firstRow">
        <div class="col-4">
<label>Quote:</label><br>
    <input type="text" placeholder="Add a quote" class="box" #addQuote>
</div>
    <div class="col-4">
    <label>Author:</label><br>
    <input type="text" placeholder="Add Author" class="box" #addAuthor>
</div>
    <div class="col-4">
    <label>Submitter:</label><br>
    <input type="text" placeholder="Add submitter" class="box" #addSubmitter>
</div> 
<button class="firstBut btn-success" (click) = addComponent(addQuote.value,addAuthor.value,addSubmitter.value)>ADD QUOTE</button>
<br><br>
<ul *ngFor='let quote of quotes; let i = index'>
    <li>
            "{{ quote.say }}"
    </li>
    <app-add-quote *ngIf='quote.showDescription' [quote]='quote'></app-add-quote>
    <button class="allBut btn-info" (click)='toggleDetails(i)'>Toggle Details</button>
    
    <app-like></app-like>

    <button class="delBut btn-danger" (click) = "deleteQuote(quote)">DELETE QUOTE</button>
</ul>
</div>
</div>

