
.header{
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.firstRow{
    background-color: white;
    padding: 5%;
    border-radius: 10px;
}
.box{
    border-radius: 5px;
}
.firstBut{
    margin-left: 40%;
}
.allBut{
    border-radius: 5px;
}
.delBut{
    border-radius: 5px;
    margin-left: 50%;
}
.secRow{
    background-color: mistyrose;
    border-radius: 10px;
}