.header{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.firstRow{
    background-color: darkgray;
    padding: 5%;
}
.box{
    border-radius: 5px;
}
.firstBut{
    margin-left: 50%;
}
.allBut{
    border-radius: 5px;
}
.secRow{
    background-color: mistyrose;
}